In [1]:
# Import packages
import json
import pandas as pd

In [2]:
with open("sequential_spider_testing.json", mode="r") as f:
    data = json.load(f)
    data = pd.DataFrame(data)
    f.close()

In [5]:
data.groupby("Page_num").count()

          Titel  Listing_url
Page_num
1            21           21
2            21           21
3            21           21
4            21           21
5            21           21
6            21           21
7             6            6